body{
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.corpo{
    display: flex;
}


h1{
    text-align: center;
    padding: 25px;
    margin: 0 0 15px;
    background-color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 35px;
    font-weight: 700;
}

img {
    float: left; height: 300px; width: 300px;
    margin: 0 25px;
}

#btButton{
    margin: 15px 5px 0 0;
}
